.menu {
    background-color: white;
    color: black;
}

.menu__container {
    margin: 0px 100px;
    padding-bottom: 30px;
}

.menu__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__heading--info, .menu__heading--img {
    flex: 1;
}

.menu__heading--info > h1 {
    margin: 200px 0px 25px 0px;
    font-size: 2.5rem;
}

.menu__heading--img {
    height: 290px;
    overflow: hidden;
}

.menu__heading--img > img {
    width: 100%;
    object-fit: cover;
}

.menu__items {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 25px;
    margin-top: 30px;
}

.menu__item--price {
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
    text-align: right;
}

.menu__item--title {
    margin: 15px 0px;
    text-transform: capitalize;
}